body {
  background: #212053;
  color: #f6f6fb;
  font-family: Tahoma, sans-serif;
}

a {
  color: #fffffff5;
  text-decoration: none;
  background-color: #ffffff24;
  font-weight: bold;
  padding: 2px 4px;
}

a:before {
  content: "> ";
}

footer {
  background-color: #ffffff0d;
  padding: 10px;
}